* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Josefin-Sans' , sans-serif;
}

.hero {
   height: 100dvh;
   width: 100%;
   background:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(bahaa.jpg);
   background-size:920px 810px;
   background-position:center;

   
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 10px;
   padding-left: 10%;
   padding-right: 10%;
   flex-wrap: wrap;
   

}

.logo {
   color: white;
   font-size: 18px;
   margin: 15px;
}
span {
   color: #ea1538;
}
nav ul li {
   list-style-type: none;
   display: inline-block;
   padding: 10px 10px;
}
nav ul li a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   margin: 1px;


   
}
nav ul li a:hover{
   color: #ea1538;
   transition: .3s;
}
button {
   border: none;
   background: #ea1538;
   padding: 12px 30px;
   border-radius: 30px;
   cursor: pointer;
   color: white;
   font-weight: bold;
   font-size: 15px;
   transition: .4s;
   margin: 20px;
}
button:hover {
   transform:scale(1.2);
}